<div class="banners">
    <!-- <div class="banners__inner"> -->
        <div class="banner">
            <h3 class="banner__title">Настройки</h3>
            <app-name-banner></app-name-banner>
            <div class="components__date-time">
                <app-date></app-date>
                <app-time></app-time>
            </div>
            <app-days></app-days>
            <app-select-city></app-select-city>
        </div>
        <div class="banner-2">
            <app-radiobutton></app-radiobutton>
        </div>
    <!-- </div> -->
    <app-button></app-button>
</div>