<div class="timepikers">
    <div class="timepikers__inner">
        <h4 class="timepikers__title">ВРЕМЯ</h4>
        <div class="input">
            <input [ngxMatTimepicker]="picker">
        </div>
        <ngx-mat-timepicker #picker></ngx-mat-timepicker>
    </div>
    <div class="timepikers__inner">
        <h4 class="timepikers__title">ВРЕМЯ</h4>
        <div class="input">
            <input [ngxMatTimepicker]="picker1">
        </div>
        <ngx-mat-timepicker #picker1></ngx-mat-timepicker>
    </div>
</div>
<mat-checkbox class="timepikers__cb"><p>Все время</p></mat-checkbox>