<div class="days">
    <h4 class="days__title">ДНИ</h4>
    <mat-checkbox checked>
        <p>Пн</p>
    </mat-checkbox>
    <mat-checkbox checked>
        <p>Вт</p>
    </mat-checkbox>
    <mat-checkbox checked>
        <p>Ср</p>
    </mat-checkbox>
    <mat-checkbox checked>
        <p>Чт</p>
    </mat-checkbox>
    <mat-checkbox checked>
        <p>Пт</p>
    </mat-checkbox>
    <mat-checkbox checked>
        <p>Сб</p>
    </mat-checkbox>
    <mat-checkbox checked>
        <p>Вс</p>
    </mat-checkbox>
</div>